LOCATE COMP "clk48" SITE "A9";
IOBUF PORT "clk48" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk48" 48.0 MHz;

LOCATE COMP "rgb_led0_r" SITE "K4";
IOBUF PORT "rgb_led0_r" IO_TYPE=LVCMOS33;
LOCATE COMP "rgb_led0_g" SITE "M3";
IOBUF PORT "rgb_led0_g" IO_TYPE=LVCMOS33;
LOCATE COMP "rgb_led0_b" SITE "J3";
IOBUF PORT "rgb_led0_b" IO_TYPE=LVCMOS33;

LOCATE COMP "eim_da_2" SITE "B10";
IOBUF PORT "eim_da_2" IO_TYPE=LVCMOS33;

LOCATE COMP "eim_da_3" SITE "B9";
IOBUF PORT "eim_da_3" IO_TYPE=LVCMOS33;

LOCATE COMP "eim_da_4" SITE "C8";
IOBUF PORT "eim_da_4" IO_TYPE=LVCMOS33;

LOCATE COMP "eim_da_5" SITE "B8";
IOBUF PORT "eim_da_5" IO_TYPE=LVCMOS33;

LOCATE COMP "eim_da_6" SITE "A8";
IOBUF PORT "eim_da_6" IO_TYPE=LVCMOS33;

LOCATE COMP "eim_da_7" SITE "H2";
IOBUF PORT "eim_da_7" IO_TYPE=LVCMOS33;

LOCATE COMP "eim_lba_n" SITE "J2";
IOBUF PORT "eim_lba_n" IO_TYPE=LVCMOS33;

LOCATE COMP "eim_wr_n" SITE "L4";
IOBUF PORT "eim_wr_n" IO_TYPE=LVCMOS33;

LOCATE COMP "eim_wait_n" SITE "N3";
IOBUF PORT "eim_wait_n" IO_TYPE=LVCMOS33;

LOCATE COMP "eim_oe_n" SITE "N4";
IOBUF PORT "eim_oe_n" IO_TYPE=LVCMOS33;

LOCATE COMP "eim_cs0_n" SITE "H4";
IOBUF PORT "eim_cs0_n" IO_TYPE=LVCMOS33;

LOCATE COMP "eim_bclk" SITE "G4";
IOBUF PORT "eim_bclk" IO_TYPE=LVCMOS33;

LOCATE COMP "eim_da_1" SITE "C9";
IOBUF PORT "eim_da_1" IO_TYPE=LVCMOS33;

LOCATE COMP "eim_da_0" SITE "C10";
IOBUF PORT "eim_da_0" IO_TYPE=LVCMOS33;
